
.mouse-parallax_background{
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 110%;
    background-image: url(../../picture/coffi.jpg);
    background-position: center center;
    background-size: cover;
}






.contacts_block{
    display: flex;
    padding: 72px 0;
    width: 1170px;
    margin: 0 auto;
}
.contacts_block1{
    width: 600px;
    font-weight: bold;
    font-size: 35px;
    line-height: 36px;
}
.contacts_block2{
    width: 306px;
}
.contacts_block3{
    width: 257px;
}
.contacts_text1{
    font-weight: bold;
    font-size: 17px;
    line-height: 36px;
    color: #1B9448;
}
.contacts_text2{
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
}
.contacts_columns{
    display: flex;
    width: 1170px;
    margin: 0 auto;
}
.contacts_columns_left{
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 0;
}
.contacts_columns_right{
    display: flex;
    flex-direction: column;
}
.contor{
    width:570px ;
    height:304px ;
    margin: 0 0 30px 0;
    background-color: white;
    box-shadow: 0px 0px 20px rgb(27 148 72 / 40%);
}

.contacts_line1{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #1B9448;
    margin: 49px 0 15px 60px;
}
.contacts_line2{
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    margin:  0 0 0 60px;
}
.contacts_line3{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: gray;
    margin:  0 0 0 60px;
}
.contor2{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #6AB66B;
    background-position: center;
}
.contor3{
    display: flex;
    margin: 20px 0 0 60px;
}
.contor3 span{
    margin: 10px 0 0 10px;
    font-size: 17px;
    line-height: 22px;
}
.contacts_ellipse1{
    background-image: url(../../picture/contact2.png);
}
.contacts_ellipse2{
    background-image: url(../../picture/contact1.png);
    background-repeat: no-repeat;
}
@media screen and (max-width: 1182px){
.contacts_columns{
    width: 708px;
}
.contacts_block{
    width: 708px;
}
.contor{
    width:339px ;
    height:325px ;
}
.contacts_block1{
    width: 237px;
    padding: 17px 0 0 0;
}
}
@media screen and (max-width: 730px){
.contacts_block{
    padding: 25px 0;
    width: 339px;
}
.contacts_block2{
    display: none;
}
.contacts_block3{
    display: none;
}
.contacts_columns{
    display: block;
    width: 339px;
}
.contacts_line1{
    margin: 29px 0 15px 60px;
}
.contor{
    height:290px ;
    margin: 0 0 15px 0;
}
}
