.section{
    display: flex;
    padding-top: 125px;
    justify-content: center;
}
.section_two{
    display: none;
}
.section_one{
    background-image: url(../picture/caravan.png);
    width: 209px;
    height: 208px;
    margin-right: 80px;
}
.sectiontext{
    width: 600px;
    font-size: 22px;
}
p{
    margin: 0;
}
@media screen and (max-width: 980px){
    .section_one{
        margin-right: 26px;
    }
    .sectiontext{
        font-size: 18px;
        width: 500px;
    }
    .sectiontext strong{
        color: #6AB66B;
    }
}
@media screen and (max-width: 768px){
    .section_one{
        display: none;
    }
    .section{
        display: block;
    }
    .section_two{
        display: block;
        background-image: url(../picture/coffi4.jpg);
        background-size: cover;
        border-radius: 5%;
        width: 277px;
        height: 234px;
        margin: 0 auto;
    } 
    .sectiontext{
        width: 500px;
        margin: 40px auto 0 auto;
    }  
}
@media screen and (max-width: 530px){
    .sectiontext{
        width: 340px;
    }
}