body{
    background-color: #F5F5F5;
}
.about_center_text2{
    display: none;
}
.text_center_none{
    display: none;
}
.about_center_text3{
    display: none;
}
.about_center{
    width: 1163px;
    margin: 0 auto;
    display: flex;
    padding: 131px 0 130px 0;
}
.about_center_logo{
    background-image: url(../../picture/caravan-logo_about.svg);
    width: 310px;
    height: 310px;
    margin: 0 75px 0 0;
}
.about_center_text h2{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 36px;
    margin: 0 0 50px 0;
}
.about_center_text p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 28px 0;
}
@media screen and (max-width: 1182px){
.about_center_text{
    display: none;
}
.about_center{
    padding: 91px 0 91px 0;
    width: 736px;
}
.about_center_logo{
    background-image: url(../../picture/caravan.png);
    width: 209px;
    height: 209px;
    margin: 0 56px 0 0;
}
.about_center_text2{
    display: block;
}
.about_center_text2 h2{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    margin: 0 0 50px 0;
}
.about_center_text2 p{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 28px 0;
}
}
@media screen and (max-width: 744px){
.about_center_text2{
    display: none;
}
.about_center{
    width: 357px;
    padding: 26px 0 101px 0;
}
.about_center{
    display: block;
}
.about_center_logo{
    margin: 0 auto 50px auto;
}
.text_center_none{
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin: 0 0 50px 0;
}
.about_center_text3{
    display: block;
}
.about_center_text3 p{
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 25px 0;
}
}